body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.card{
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
    width: 375px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card img{
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card h2{
    color: hsl(218, 44%, 22%);
}
.card p{
    font-size: 15px;
    color: hsl(220, 15%, 55%)
}
.text{
   margin: 0px 30px;
   margin-bottom: 4rem;
}
.text p{
    margin: 0px 20px;
}